 <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>A collection of all projects done by me or in collaboration with a team</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-Web">Web</li>
              <li data-filter=".filter-Data">Data Science</li>
              <li data-filter=".filter-Auto">Automatization</li>
              <li data-filter=".filter-GUIGame">GUI/Game</li>
              <li data-filter=".filter-Script">Scripting</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          {% for project in projects: %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{project.category}}">
              <div class="portfolio-wrap">
                <img src="{{ project.img_url_1 }}" class="img-fluid" alt="">
                <div class="portfolio-links">
                  {% if not current_user.is_authenticated: %}
                     <a href="{{url_for('project_details_page',  project_id=project.id)}}" title="More Details"><i class="bi bi-info-circle"></i></a>

                  {% else: %}
<!--                      <a href="{{ url_for('create_project_page') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ project.title }}"><i class="bi bi-pencil-square"></i></a>-->
                    <a href="{{url_for('edit_project_page', project_id=project.id)}}" title="Edit Project"><i class="bi bi-pencil-square"></i></a>
                    <a href="{{url_for('project_details_page',  project_id=project.id)}}" title="More Details"><i class="bi bi-info-circle"></i></a>
                    <a href="{{url_for('delete_page',  project_id=project.id)}}" title="More Details"><i class="bi bi-trash"></i></a>

                  {% endif %}
                  </div>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->
