<!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>
            Here you can download my resume/CV as pdf
            <a href="{{ url_for('download_resume') }}"><button type="submit">CV Jose Chay</button></a>
          </p>
        </div>
        <!------------- Sumary --------------->
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Jose Chay</h4>
              <p><em>
                A chemical engineering student with a desire to improve both in his personal and professional life,
                self-taught and responsible.
              </em></p>
              <ul>
                <li>Guatemala City, Guatemala</li>
                <li>(+502) 40153101</li>
                <li>chepechay16@gmail.com</li>
              </ul>
            </div>
            <!------------- Education --------------->
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Student of chemical engineering</h4>
              <h5>2021 - present</h5>
              <p><em>Universidad de San Carlos de Guatemala, Guatemala, Gt</em></p>
<!--              <p>utem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>-->
            </div>
            <div class="resume-item">
              <h4>High School</h4>
              <h5>2019 - 2020</h5>
              <p><em>Instituto Guillermo Putzeys Alvarez, Guatemala, Gt</em></p>
<!--              <p> neque etlon sader mart dila</p>-->
            </div>
            <div class="resume-item">
              <h4>Python Development Bootcamp</h4>
              <h5>2022 - 2023</h5>
              <p><em>Udemy course by Angela Yu, The App Brewery</em></p>
<!--              <p> neque etlon sader mart dila</p>-->
            </div>
          </div>

          <!------------- Professional Experience --------------->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Working on my Portfolio Projects</h4>
              <h5>2023 - Present</h5>
              <p><em>My Portfolio, Guatemala, Gt </em></p>
              <ul>
                <li>Working on Web development projects</li>
                <li>Working on Data science projects</li>
                <li>Working on Automatization and Web scraping projects</li>
                <li>Working on GUI desktop apps projects</li>
              </ul>
            </div>

      </div>
    </section><!-- End Resume Section -->
